---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "materialize"
;

#index-banner
{
	color:white;	
}

#index-banner .parallax img
{
	left:auto;
	right:0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav .dawn-logo
{
	padding:20px;
	color:#000;
	text-align:center;
	font-size:2.92rem;
}