---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "materialize"
;

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

/* SETUP FOR SIDEBAR */
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav .dawn-logo
{
  padding:20px;
  color:#000;
  text-align:center;
  font-size:2.92rem;
}

.side-nav {
  
  overflow: hidden;
  
  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }

  .dawn-logo img{
    width: 80%;
  }

  li.bold a{
    font-weight:bold;
  }

  li i {
    height:auto;
    float: right !important;
    margin: 0 !important;
  }

  li {
    position:relative;

    &.active>a.active{
      background-color:$primary-color;
      color:color('shades','white');
      
    }

  }

  li a.collapsible-header {
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    background-color:color('shades','white') !important;
    &:hover{
      background-color:rgba(0, 0, 0, 0.05) !important;
    }
    &.active{
      background-color:color('grey','lighten-2') !important;
    }
  }

  .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
  }

}

nav {
  height:auto;
  overflow:hidden;

  ul li.active{
    background-color:darken($primary-color,5%);
  }
}

.nav-wrapper {
  height: 64px !important;
}
/* SETUP FOR SEARCH */
.search-wrapper {
  background-color:darken($primary-color,5%);

  height: 0px;
  width: 100%;
  overflow:hidden;
  display:none;

  .container{
    height:100%;
    padding-bottom:10px;
  }

  &.active{
    height:64px;
    display:block;
  }

}

.search-results-wrapper{
  height:0px;
  overflow:hidden;
  
  background-color:darken($primary-color,5%);

  .container{
    margin-bottom:10px;
  }

  &.active{
    height:auto;
  }
  
  div.collection{
    margin-bottom:10px;
    color:color('shades','black');

    .secondary-content{
      color: rgba(0,0,0,0.71);
    }
  }

}

#page_content{
  padding: 20px 0px;

  .post_date{
    font-size: 1.7em;
  }

  ul{
    @extend .browser-default;
  }

}


/* Setup for home page parallax */
div.parallax-img{
    width: 100%;
    height: 200%;
    background-size: cover;
    position:absolute;
    bottom:0;
    display:none;
  }

#index-banner
{
  height:auto;
  color:white;  
  .parallax-img{
    background-image: url(/img/dawn_image_full_wide.jpg);
    background-position: right center;
  }

  .header-container{
    @extend .z-depth-1;
    background-color:rgba(0,0,0,0.8);
    border-radius:10px;
  }

  .section{
    padding: 50px 0px;
  }

}

#index-banner-2
{
  .parallax-img{
    background-image: url(/img/banner_2.jpg);
    background-position: right center;
  }
  height:auto;
}

// Setup for home page promo thirds
.promo{
  width: 100%;

  i {
    margin: 40px 0;
    color: $primary-color;
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;

}

// Setup for home page news panels
.news-panel{
  
  background-color:white;
  overflow:hidden;
  border-radius:10px;
  margin: 10px;

  .header, .footer{
    width:100%;
    padding: 5px 10px;
    background-color:$primary-color;
    color:white;
    
    a{
      color:white;
    }
  }

  .header{
    font-size:1.7rem;
  }

  .footer{
    text-align:right;
    padding:10px;
  }

  .content{
    padding:10px;
    overflow-y:scroll;
    height:500px;
    word-wrap: break-word;

    h4{
      margin-top:0;
    }

  }
  .twitter{
      height:500px;
      overflow:hidden;
    }
}

//Contact form
#contact-form-message{
  div{
    font-size:1.2em;
    padding:10px;
    border-radius:10px;
    width:100%;
    color:white;
  }

  #success{
    display:none;
    background-color:color('green','darken-1');
  }

  &.success #success{
    display:block;
  }

  #error{
    display:none;
    background-color:color('red','darken-2');
  }
  &.error #error{
    display:block;
  }

}

// Button styling
#download-button, #more-button, #download-paper{
  background-color:$dawn-yellow;
  color:black;
}

// Markdown tables of contents
#markdown-toc{
  @extend .z-depth-1;

  display:inline-block;
  padding:20px 20px 20px 40px;

}

// Markdown Tables
main table tbody {
  tr:nth-child(odd)   { background-color:lighten(#eee,2%); }
  tr:nth-child(even)    { background-color:#fff; }
  tr{
    @include prefix(transition, background-color 0.2s, webkit moz ms);
    &:hover{
      background-color:#eee;
    }
  }
}

main img{
  @extend .responsive-img;
}

footer{
  margin-top:0 !important;
}
