<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">Use of Dawn</h5>
        <p class="grey-text text-lighten-4">If the analysis features available in Dawn are used significantly in your work, users are kindly requested to add acknowledgements to published work and to cite:</p>
        <p class="grey-text text-lighten-4">
        Basham, M., Filik, J., Wharmby, M.T., Chang, P.C.Y., El Kassaby, B., Gerring, M., Aishima, J., Levik, K., Pulford, B.C.A., Sikharulidze, I. et al. (2015). J. Synchrotron Rad. 22, doi:10.1107/S1600577515002283</p>
        <a href="http://journals.iucr.org/s/issues/2015/03/00/fv5032/fv5032.pdf" id="download-paper" target="_blank" class="btn waves-effect waves-light">View Article <i class="material-icons right">&#xE89E;</i></a>
        <p class="grey-text text-lighten-4">If the 2D powder diffraction and processing tools are used, please cite:</p>
        <p class="grey-text text-lighten-4">
        Processing two-dimensional X-ray diffraction and small-angle scattering data in DAWN 2. Filik J. et al. (2017). J. Appl. Cryst. 50, https://doi.org/10.1107/S1600576717004708. </p>
        <a href="http://journals.iucr.org/j/issues/2017/03/00/vg5068/vg5068.pdf" id="download-paper" target="_blank" class="btn waves-effect waves-light">View Article <i class="material-icons right">&#xE89E;</i></a>
      </div>
      
      <div class="col l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://twitter.com/dawnscience">Twitter</a></li>
          <li><a class="white-text" target="_blank" href="https://github.com/dawnscience">GitHub</a></li>
          <li><a class="white-text" target="_blank" href="http://diamond.ac.uk">Diamond Light Source</a></li>
          <li><a class="white-text" target="_blank" href="https://science.eclipse.org/">Eclipse Science Working Group</a></li>
          <li><a class="white-text" target="_blank" href="https://eclipse.org/">Eclipse Foundation</a></li>
          <li><a class="white-text" target="_blank" href="https://www.eclipse.org/january/">Eclipse January</a></li>
          
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2017 Diamond Light Source
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/init.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/search.js" | prepend: site.baseurl }}"></script>
