<header class="site-header">

  <nav>
    <div class="nav-wrapper container">
      <a class="brand-logo">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</a>

      <ul id="slide-out" class="side-nav fixed collapsible collapsible-accordion">

        <div class="dawn-logo">
            <img src="{{ "/img/dawn_logo.png" | prepend: site.baseurl }}"/>
        </div> 

        {% include navigation_items.html context="/" %}
      
      </ul>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right">
        <li>
          <a class="waves-effect" id="search-button" href="#"><i class="material-icons">search</i></a>
        </li>
        
      </ul>

    </div>

    <div class="search-wrapper">
      <div class="container">
        <form>
          <div class="input-field">
            <input id="search" type="text">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </div>


     <div class="search-results-wrapper">
      <div id="search-results" class="collection container">
      </div>
    </div>
  </nav>



        

</header>
